/*---------------------------------
    Footer CSS 
-----------------------------------*/
.footer-wrap{
    .footer-top{
        border-bottom: 1px solid rgba(255, 255, 255, 0.08);
        padding-bottom: 50px;
        margin-bottom: 65px;
    }
    .footer-shape{
        z-index:-1;
        left: 25%;
    }
    &.style-one{
        background-color: #12131B;
        .footer-bottom{
            background-color: #0C0D12;
        }
    }
    &.style-two{
        background-color: #732701;
        .footer-bottom{
            background-color: var(--whiteColor);
            .copyright-text{
                color: var(--codColor);
            }
            .social-profile{
                li{
                    a{
                        background-color: rgba(115, 39, 1, 0.06);;
                        i{
                            color: var(--codColor);
                        }
                        &:hover{
                            i{
                                color: var(--whiteColor);
                            }
                        }
                    }
                }
            }
        }
    }
    &.style-three{
        background-color: #0E1317;
        .footer-bottom{
            padding: 15.5px 0;
            background-color: #151B20;
        }
    }
    &.style-four{
        background-color: #151B20;
        .footer-bottom{
            padding: 15.5px 0;
            background-color: #0E1317;
        }
    }
    .footer-widget-wrapper{
        .footer-widget{
            width: 25%;
            &:after{
                position: absolute;
                top: 50%;
                right: 75px;
                content: "";
                width: 14px;
                height: 160px;
                background-image: url(../img/shape-2.webp);
                background-repeat: no-repeat;
                background-position: top center;
                background-size: 14px 160px;
                transform: translateY(-50%);
            }
            &:last-child{
                &:after{
                    display: none;
                }
            }
        }
    }
    .footer-widget{
        .footer-widget-title{
            font-size: 24px;
            font-weight: 600;
            margin-bottom: 34px;
            text-decoration: underline;
        }
        h2{
            font-size: 36px;
        }
        .subscribe-form{
            input{
                background: rgba(255, 255, 255, 0.08);
                border-radius: 50px;
                padding: 14px 175px 14px 30px;
                &::placeholder{
                    color: var(--whiteColor);
                    opacity: 1;
                }
            }
            button{
                top: 5px;
                right: 5px;
                height: calc(100% - 10px);
                border-radius: 50px;
                font-size: 20px;
                padding: 10px 39px;
                background-color: var(--primaryColor);
                &:hover{
                    background-color: #722700;
                }
            }
        }
        .footer-menu{
            li{
                margin-bottom: 9px;
                &:last-child{
                    margin-bottom: 0;
                }
                a{
                    color: #D2D2D2;
                    padding-left: 14px;
                    font-weight: 700;
                    position: relative;
                    &:before{
                        position: absolute;
                        top: 9px;
                        left: 0;
                        content: "";
                        width: 3px;
                        height: 3px;
                        border-radius: 50%;
                        background-color: var(--whiteColor);
                    }
                    &:after{
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        content: "";
                        width: 0;
                        height: 1px;
                        background-color: var(--primaryColor);
                        transition: var(--transition);
                    }
                    &:hover{
                        color: var(--primaryColor);
                        &:before{
                            background-color: var(--primaryColor);
                        }
                        &:after{
                            width: 100%;
                        }
                    }
                }
            }
        }
        .working-hours{
            li{
                margin-bottom: 15px;
                padding-left: 15px;
                &:last-child{
                    margin-bottom: 0;
                }
                &:before{
                    position: absolute;
                    top: 12px;
                    left: 0;
                    content: "";
                    width: 3px;
                    height: 3px;
                    border-radius: 50%;
                    background-color: var(--primaryColor);
                } 
            }
        }
        .contact-info{
            li{
                margin-bottom: 25px;
                padding-left: 60px;
                &:last-child{
                    margin-bottom: 0;
                }
                span{
                    width: 40px;
                    &:after{
                        position: absolute;
                        top: 55%;
                        right: 0;
                        content: "";
                        width: 1px;
                        height: 20px;
                        transform: translateY(-50%);
                        background-color:rgba(255, 255, 255, 0.17);
                    }  
                }
                a{
                    color: var(--whiteColor);
                    &:hover{
                        color:var(--primaryColor);
                    }
                }
            }
        }
    }
    .footer-bottom{
        padding: 19px 0;
        .copyright-text{
            i{
                margin-right: 5px;
            }
        }
    }
}
/*---------------------------------
    Responsive CSS 
-----------------------------------*/
@media only screen and (max-width: 767px) {
    .footer-wrap{
        .footer-shape{
            max-width: 160px;
        }
        .logo{
            margin-bottom: 30px;
            display: block;
        }
        .footer-widget{
            h2{
                font-size: 24px;
                margin-bottom: 15px;
            }
            .subscribe-form{
                input{
                    padding: 14px 125px 14px 20px;
                    &::placeholder{
                        color: var(--whiteColor);
                        opacity: 1;
                    }
                }
                button{
                    font-size: 14px;
                    padding: 10px 25px;
                }
            }
        }
        .footer-widget-wrapper {
            .footer-widget{
                width:100%;
                .footer-widget-title{
                    margin-bottom: 15px;
                    font-size: 22px;
                }
                &:after{
                    display: none;
                }
                .footer-menu{
                    li{
                        a{
                            font-size: 14px;
                            &:before{
                                top: 7px;
                            }
                        }
                    }
                }
                .working-hours{
                    li{
                        margin-bottom: 9px;
                    }
                }
                .contact-info{
                    li{
                        padding-left: 50px;
                        font-size: 14px;
                        margin-bottom: 15px;
                        &:last-child{
                            margin-bottom: 0;
                        }
                        span{
                            width: 35px;
                            img{
                                max-width: 17px;
                            }
                        }
                        a{
                            font-size: 14px;
                        }
                    }
                }
            }
        }
        .footer-bottom{
            .copyright-text{
                text-align: center;
            }
            .social-profile{
                margin-top: 12px;
                text-align: center;
            }
        }
    }
}
@media only screen and (min-width: 768px) and (max-width:991px) {
    .footer-wrap {
        .footer-widget{
            h2{
                font-size: 28px;
            }
        }
        .footer-widget-wrapper {
            .footer-widget{
                width: 50%;
                .footer-widget-title{
                    margin-bottom: 20px;
                }
                &:after{
                    display: none;
                }
            }
        }
    }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .footer-wrap {
        .footer-widget-wrapper {
            .footer-widget{
                &:after {
                    right: 30px;
                }
            }
        }
    }
}
@media only screen and (min-width: 1400px) {
    .footer-wrap{
        .footer-widget{
            .footer-menu{
                li{
                    a{
                        font-size: 18px;
                        &:before{
                            top: 10px;
                        }
                    }
                }
            }
        }
        .footer-bottom{
            .copyright-text{
                .link{
                    font-size: 16px;
                }
            }
        }
    }
}
@media only screen and (min-width: 1920px) {
    .footer-wrap{
        padding-top: 130px;
        .footer-widget-wrapper{
            .footer-widget{
                &:nth-child(1){
                    &:after{
                        right: 90px;
                    }
                }
                &:nth-child(2){
                    padding-left: 40px;
                    &:after{
                        right: 50px;
                    }
                }
                &:nth-child(3){
                    padding-left: 80px;
                    &:after{
                        right: 0px;
                    }
                }
                &:nth-child(4){
                    padding-left: 100px;
                }
            }
        }
    }
}